/* START - Stylesheet */

/******************** TABLE OF CONTENTS ********************/
/* 1. General */
/* 2. Top Button */
/* 3. Home */
/* 4. About */
/* 5. Projects */
/* 6. Experience */
/* 7. Portfolito */
/* 8. Interests */
/* 9. Blog */
/* 10. Contact */
/* 11. Copyright */
    
        /***** GENERAL *****/
            html {
                scroll-behavior: smooth;
            }
            
            body {
                width: 100%;
                height: 100%;
                margin: 0;
                font-family: IBM Plex Sans, IBM Plex Sans, IBM Plex Sans;
                font-weight: lighter;
            }
            
            p {
                margin:0;
                padding:0;
                line-height: 0;
            }
            
            h1 {
                font-size: 45; 
                font-weight: 500; 
                text-align: center;
                margin-top: 10px; 
                margin-bottom: 50px;
            }
            
            h2 {
                font-size: 20; 
                font-weight: 300; 
                text-align: center; 
                margin-top: 60px;
            }
            
            .graydiv {
                background-color: #D2D2D2;
            }

            .whitediv {
                background-color: white;
            }
            
            .copydiv {
                background-color: #212121; 
                color: white; 
                text-align: center; 
                height: 20%;
            }
            
            /* Light/Dark Mode */
            body.dark-mode {
                background-color: #1C1C1C;
                color: white;
            }
            
            p.dark-mode {
                color: white;
            }
            
            /*body.dark-mode button {
                background-color: white;
                color: black;
            }*/

            body.light-mode {
                background-color: white;
                color: black;
            }
            
            p.light-mode {
                color: #4d4d4d;
            }
            
            /*body.light-mode button {
                background-color: black;
                color: white;
            }*/
        /***** GENERAL END *****/            
            


        /***** LOADER ANIMATION *****/
            .gooey{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 142px;
                height: 40px;
                margin: -20px 0 0 -71px;
                background: white;
                filter: contrast(20);
            }
          
            .gooey .dot{
                position: absolute;
                width: 16px;
                height: 16px;
                top: 12px;
                left: 15px;
                filter: blur(4px);
                background: #000;
                border-radius: 50%;
                transform: translateX(0);
                animation: dot 2.8s infinite;
            }
            
            .gooey .dots{
                transform: translateX(0);
                margin-top: 12px;
                margin-left: 31px;
                animation: dots 2.8s infinite;
            }
            
            .gooey .dots span{
                display: block;
                float: left;
                width: 16px;
                height: 16px;
                margin-left: 16px;
                filter: blur(4px);
                background: #000;
                border-radius: 50%;
            } 

            /* Animation */
            @-moz-keyframes dot {50% {transform: translateX(96px);}}
            @-webkit-keyframes dot {50% {transform: translateX(96px);}}
            @-o-keyframes dot {50% {transform: translateX(96px);}}
            @keyframes dot {50% {transform: translateX(96px);}}
            @-moz-keyframes dots {50% {transform: translateX(-31px);}}
            @-webkit-keyframes dots {50% {transform: translateX(-31px);}}
            @-o-keyframes dots {50% {transform: translateX(-31px);}}
            @keyframes dots {50% {transform: translateX(-31px);}}

            /* Animating the page */
            .animate-bottom {
                position: relative;
                -webkit-animation-name: animatebottom;
                -webkit-animation-duration: 1s;
                animation-name: animatebottom;
                animation-duration: 1s
            }

            @-webkit-keyframes animatebottom {
                from { bottom:-100px; opacity:0 } 
                to { bottom:0px; opacity:1 }
            }

            @keyframes animatebottom { 
                from{ bottom:-100px; opacity:0 } 
                to{ bottom:0; opacity:1 }
            }
            
            /* The page */
            #myDiv {
                display: none;
                text-align: center;
            }

        /***** LOADER ANIMATION END *****/
            


        /***** SECTION 0: TOPNAV BAR *****/
            .topnav {
                top: 0px;
                width: 100%;
                position: fixed;
                background-color: transparent;
                overflow: hidden;
                z-index: 2;
              
            }

            .topnav a {
                float: left;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 20px;
                font-weight: lighter;
            }
            
            .dropdown {
                float: right;
                width: 5%; 
                margin-right: 40;
                overflow: hidden;
            }

            .dropdown:hover, .dropbtn:hover {
                /*border-bottom: 3px solid black;
                color: black;
                font-weight: 500;
                text-decoration: underline;*/
            }
            
            .dropbtn {
                background-color: transparent;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 20px;
                font-weight: 300;
            }
            
            .dropdown .dropbtn {
                font-size: 16px;  
                border: none;
                outline: none;
                padding: 14px 16px;
                background-color: inherit;
                color: #A1A1A1;
                font-size: 20px;
                font-weight: lighter;
                margin: 0;
                font-size: 13; margin-left: 1%;
            }
            
            .dropdown-content {
                display: none;
                position: fixed;
                left: 0;
                background-color: inherit;
                width: 100%;
                text-align: center;
                z-index: 1;
            }
            
            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
            
            .dropdown-content a:hover {
                background-color: #ddd;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            /* Dark/Light Toggle */
            #dltoggle {
                float: right; 
                cursor: pointer; 
                width: 7%;
            }

            /* Logo */
            #logoimg {
                width: 50px; 
                height: 45px; 
                float: left; 
                margin-left: 20%; 
                padding: 10px 10px;
            }

            /* Dropdown Image */
            #dropimg {
                width: 30px; 
                height: 25px; 
                margin-right: 40%; 
                margin-top: 10px; 
                padding: 10px 10px;
            }
        /***** SECTION 0: TOP NAVBAR END *****/
            
            
            
        /***** TOP BUTTON *****/
            #topbtn {
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 3;
                font-size: 18px;
                border: none;
                outline: none;
                color: white;
                cursor: pointer;
                padding: 5px;
                border-radius: 4px;
                background-color: transparent;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }
            
            .topimg {
                width: 50px;
            }
        /***** TOP BUTTON END *****/
            
            
            
        /***** SECTION 1: HOME *****/
            .hometitle {
                font-size: 120; 
                color: white; 
                font-weight: 700; 
                text-align: center; 
                margin-bottom: 20px; 
                line-height: 1.1;
            }
            
            #text {
                font-size: 40; 
                font-weight: 600; 
                color: white;
                text-align: center;
            }
            
            .downbtn {
                float: center; 
                width: 75; 
                height: 75; 
                margin-top: 250; 
                margin-bottom: 100;
            }
        /***** SECTION 1: HOME END *****/
            
            
            
        /***** SECTION 2: ABOUT *****/
            .aboutimg {
                width: 25%; 
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                
                /*Center Image*/
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
            .aboutpar {
                font-size: 18; 
                font-weight: 700; 
                text-align: justify; 
                text-align-last: center; 
                line-height: 40px;
                margin-left: 125; 
                margin-right: 125;
                margin-top: 50; 
            }
            
            .aboutpar2 {
                font-size: 18; 
                font-weight: 600; 
                text-align: justify; 
                text-align-last: center; 
                line-height: 40px; 
                margin-left: 125; 
                margin-right: 125; 
                margin-top: 50; 
            }
        /***** SECTION 2: ABOUT END*****/
            
            
            
        /***** SECTION 3: PROJECTS *****/
            
            /* Container 1*/
            .container { 
                width: 835px; 
                height: 650px; 
                padding-top: 20px;
                padding-left: 15px; 
                padding-right: 15px;
            } 
            
            #leftbox { 
                float: left; 
                width: 265px; 
                height: 600; 
                /*background-color: #EFEFEF;*/ 
                border: black;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }
            
            #leftbox:hover { 
                float: left; 
                width: 265px; 
                height: 600; 
                /*background-color: #EFEFEF;*/ 
                border: black;
                box-shadow: 0px 16px 30px 10px rgba(0,0,0,0.2);
            }
            
            #centerbox { 
                float: left; 
                width: 265px; 
                height: 600; 
                /*background-color: #EFEFEF;*/  
                border: black; 
                margin-left: 20px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            } 

            #centerbox:hover { 
                float: left; 
                width: 265px; 
                height: 600; 
                /*background-color: #EFEFEF;*/  
                border: black; 
                margin-left: 20px;
                box-shadow: 0px 16px 30px 10px rgba(0,0,0,0.2);
            }
            
            #rightbox { 
                float: right; 
                width: 265px; 
                height: 600; 
                /*background-color: #EFEFEF;*/ 
                border: black;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            #rightbox:hover { 
                float: right; 
                width: 265px; 
                height: 600; 
                /*background-color: #EFEFEF;*/ 
                border: black;
                box-shadow: 0px 16px 30px 10px rgba(0,0,0,0.2);
            }
            
            .boximg {
                width: 60; 
                height: 60; 
                margin-top: 20;
            }
            
            .boxtitle {
                margin-top: 20; 
                margin-bottom: 30; 
                font-weight: 600; 
            }
            
            .boxpar {
                line-height: 1.8; 
                margin-left: 20; 
                margin-right: 20; 
                margin-bottom: 15; 
                font-weight: 300;
            }
            /* Container 2 End*/
            
        /***** SECTION 3: PROJECTS END *****/
            
            
            
        /***** SECTION 4: EXPERIENCE *****/
            
            /* Container 2 - Overlay Container */
            .container2 {
                position: relative;
                width: 750;
            }

            .image {
                display: block;
                width: 100%;
                height: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .overlay {
                position: absolute;
                top: 2.5%;
                bottom: 0;
                left: 2.5%;
                right: 0;
                height: 95%;
                width: 95%;
                opacity: 0;
                transition: .5s ease;
                background-color: ghostwhite;
            }

            .container2:hover .overlay {
                opacity: 0.8;
             }
            /* Container 1 - Overlay Container End */
            
            .text2 {
                color: #272727;
                font-size: 40px;
                font-weight: 700;
                position: absolute;
                top: 10%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
            
            .text3 {
                color: #4d4d4d;
                font-size: 20px;
                font-weight: 600;
                line-height: 1.7;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
            
            .text4 {
                color: #696969;
                line-height: 1.8;
                font-size: 20px;
                font-weight: 600;
                position: absolute;
                top: 90%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
        /***** SECTION 4: EXPERIENCE END *****/
            
            
            
        /***** SECTION 5: PORTFOLIO *****/
            .downloadbtn {
                background-color: #252525; 
                color: white; 
                padding: 20px 20px;
                font-family: IBM Plex Sans; 
                font-size: 25; 
                font-weight: 200;
                border: none;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                cursor: pointer; 
                
                /* Center button */
                margin: auto;
                display: block;
            }

            .downloadbtn:hover {
                background-color: black; 
                color: white; 
                padding: 20px 20px;
                font-family: IBM Plex Sans; 
                font-size: 25;
                font-weight: 200;
                border: none;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                cursor: pointer; 
                
                /* Center button */
                margin: auto;
                display: block;
            }
        /***** SECTION 5: PORTFOLIO END *****/
            
            
            
        /***** SECTION 6: INTERESTS *****/
            .container3 { 
                width: 835px; 
                height: 400px; 
                padding-top: 20px;
                padding-left: 15px; 
                padding-right: 15px;
            } 
            
            #leftbox2 { 
                float: left; 
                width: 265px; 
                height: 375px; 
                /*background-color: #EFEFEF;*/ 
                border: black;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            #leftbox2:hover { 
                float: left; 
                width: 265px; 
                height: 375px; 
                /*background-color: #EFEFEF;*/ 
                border: black;
                box-shadow: 0px 16px 30px 10px rgba(0,0,0,0.2);
            } 
            
            #centerbox2 { 
                float: left; 
                width: 265px; 
                height: 375px; 
                /*background-color: #EFEFEF;*/  
                border: black; 
                margin-left: 20px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            #centerbox2:hover { 
                float: left; 
                width: 265px; 
                height: 375px; 
                /*background-color: #EFEFEF;*/  
                border: black; 
                margin-left: 20px;
                box-shadow: 0px 16px 30px 10px rgba(0,0,0,0.2);
            }
            
            #rightbox2 { 
                float: right; 
                width: 265px; 
                height: 375px; 
                /*background-color: #EFEFEF;*/ 
                border: black;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            #rightbox2:hover { 
                float: right; 
                width: 265px; 
                height: 375px; 
                /*background-color: #EFEFEF;*/ 
                border: black;
                box-shadow: 0px 16px 30px 10px rgba(0,0,0,0.2);
            }
        /***** SECTION 6: INTERESTS END *****/
            
            
            
        /***** SECTION 7: BLOG *****/
            .blogimg {
                float: left; 
                margin-left: 15%; 
                width: 30%;
                transition: transform .2s; /*Animation*/
            }

            .blogimg:hover {
                float: left; 
                margin-left: 15%; 
                width: 30%;
                transform: scale(1.5);
            }
            
            .blogimg2 {
                float: right; 
                margin-right: 15%; 
                width: 30%;
                transition: transform .2s; /*Animation*/
            }

            .blogimg2:hover {
                float: right; 
                margin-right: 15%; 
                width: 30%;
                transform: scale(1.5);
            }
        /***** SECTION 7: BLOG END *****/
            
            
            
        /***** SECTION 8: CONTACT *****/
            .contact {
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
                position: relative;
                left: 23%;
                width: 50%;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }
            
            input[type=text], select, textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                font-family: IBM Plex Sans;
                font-size: 15;
                resize: vertical;
            }

            input[type=submit] {
                background-color: #252525;
                color: white;
                font-size: 15;
                font-weight: 500;
                font-family: IBM Plex Sans;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            input[type=submit]:hover {
                background-color: black;
                color: white;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }
        /***** SECTION 8: CONTACT END *****/
            
            
            
        /***** SECTION 9: COPYRIGHT *****/
            
            /* Copyright button */
            .copybtn {
                width: 40; 
                height: 40;
                border-radius: 50%; 
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                
                /* Center button */
                margin: auto;
                display: block;
            }
            
            .copytext {
                font-family: IBM Plex Sans;
                margin-top: 10;
            }
            
            /* Tooltp (button hover text) */
            .tooltip {
                position: relative;
                display: inline-block;
            }

            .tooltip .tooltiptext {
                visibility: hidden;
                min-width: 120px;
                background-color: #555;
                color: #fff;
                font-size: 15;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 50%;
                margin-left: -60px;
                opacity: 0;
                transition: opacity 0.3s;
                font-family: IBM Plex Sans; 
                font-weight: 300;
            }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

            .tooltip:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }
        /***** SECTION 9: COPYRIGHT END *****/

    
/* END - Stylesheet */ 